@model IEnumerable<Model.FrameWork.Content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @foreach (var item in Model)
    {
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/Content/images/@item.Image" alt="" />
            </div>
            <div class="grid news_desc">
                <h3><a href="/tin-tuc/@item.MetaTile-@item.ID">@item.Name</a></h3>
                <h4>Đăng bởi <span>@item.CreateBy</span> Ngày @item.CreateDate</h4>
                <p>@item.Description</p>
            </div>
        </div>
    }
    <div class="content-pagenation">
        <li><a href="#"> < </a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><span>....</span></li>
        <li><a href="#"> > </a></li>
        <div class="clear"> </div>
    </div>
</div>