
<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="index.html"><span class="fa fa-area-chart"></span> SooStore<span class="dashboard_text">SangDapChai</span></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="/Admin/Home/Index">
                        <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user fa-fw"></i>
                        <span>Hệ thống</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Admin/User/Create"><i class="fa fa-angle-right"></i>Tạo mới người dùng</a></li>
                        <li><a href="/Admin/User/Index"><i class="fa fa-angle-right"></i>Người dùng</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-comment fa-fw"></i>
                        <span>Tin tức</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Admin/Category/Index"><i class="fa fa-angle-right"></i>Danh mục</a></li>
                        <li><a href="/Admin/Content/Index"><i class="fa fa-angle-right"></i>Tin tức</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-bell fa-fw"></i>
                        <span>Sản phẩm</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Admin/Product/Index"><i class="fa fa-angle-right"></i>Danh mục</a></li>
                        <li><a href="/Admin/News/Index"><i class="fa fa-angle-right"></i>Tin tức</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-bar-chart-o fa-fw"></i>
                        <span>Quản lý chung</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Admin/Product/Index"><i class="fa fa-angle-right"></i>Giới thiệu</a></li>
                        <li><a href="/Admin/Footer/Index"><i class="fa fa-angle-right"></i>Footer</a></li>
                        <li><a href="/Admin/About/Index"><i class="fa fa-angle-right"></i>Menu</a></li>
                        <li><a href="/Admin/About/Index"><i class="fa fa-angle-right"></i>Slide</a></li>
                        <li><a href="/Admin/Footer/Index"><i class="fa fa-angle-right"></i>Phản hồi</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</aside>